<body>
    <h1>Weather App</h1>
    <form action="/weather" method="POST">
        <label for="zip-Code">Zip Code:</label>
        <input type="text" id="zipCode" name="zipCode" required>
        <button type="submit">Submit</button>
    </form>
</body>
